<div class="card-block">
    <table class="table table-hover table-sm cursor">
        <thead>
            <tr class="bg-info text-white">
                <th (click)="sortActivity('name')">Name</th>
                <th (click)="sortActivity('relation')">Relation</th>
                <th (click)="sortActivity('dob')">DOB</th>
                <th (click)="sortActivity('cwin')">CWIN</th>
                <th (click)="sortActivity('ssn')">SSN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let caseIndividual of individualData; let i = index" (click)="selectIndividual(caseIndividual.indivID, i)" [ngClass]="{'selectedIndex': selectedIdx == i}" >
                <td>{{caseIndividual.name}}</td>
                <td>{{caseIndividual.relation}}</td>
                <td>{{caseIndividual.dob}}</td>
                <td>{{caseIndividual.cwin}}</td>
                <td>{{caseIndividual.ssn}}</td>
            </tr>
        </tbody>
    </table>
</div>