<div class="card-block">
    <table class="table table-hover table-sm cursor">
        <thead>
            <tr class="bg-info text-white">
                <th (click)="sortActivity('Name')">Name</th>
                <th (click)="sortActivity('Relation')">Relation</th>
                <th (click)="sortActivity('DOB')">DOB</th>
                <th (click)="sortActivity('CWIN')">CWIN</th>
                <th (click)="sortActivity('SSN')">SSN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let caseIndividual of individualData; let i = index" (click)="selectIndividual(caseIndividual.IndivID, i)" [ngClass]="{'selectedIndex': selectedIdx == i}" >
                <td>{{caseIndividual.Name}}</td>
                <td>{{caseIndividual.Relation}}</td>
                <td>{{caseIndividual.DOB}}</td>
                <td>{{caseIndividual.CWIN}}</td>
                <td>{{caseIndividual.SSN}}</td>
            </tr>
        </tbody>
    </table>
</div>