<cip-banner-selector></cip-banner-selector>
<div class="offset-md-1 col-md-10 bg-faded content" id="displayBody">
  <form class="form-inline pt-1">
    <div class="form-group">
      <input #caseNo type="text" class="form-control searchParam" placeholder="Case #" [(ngModel)]="params.caseNo" name="caseNo">
    </div>
    <div class="form-group">
      <input type="number" class="form-control searchParam" placeholder="SSN" [(ngModel)]="params.ssn" name="ssn">
    </div>
    <div class="form-group">
      <input #phoneNo type="number" class="form-control searchParam" placeholder="Phone Number" [(ngModel)]="params.phoneNo" name="phoneNo">
    </div>
    <div class="form-group">
      <input #firstName type="text" class="form-control searchParam" placeholder="First Name" [(ngModel)]="params.firstName" name="firstName">
    </div>
    <div class="form-group">
      <input #lastName type="text" class="form-control searchParam" placeholder="Last Name" [(ngModel)]="params.lastName" name="lastName">
    </div>
    <button type="submit" class="btn btn-info paramBar" (click)="searchCase(params)"><i class="fa fa-search" aria-hidden="true"></i></button>
    <button type="submit" class="btn paramBar" id="clearSearch" (click)="clearParams(params)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    <div class="pull-right" *ngIf="case">
      <p><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{case.Username}}</p>
    </div>
    <div [hidden]="!isInvalidSearch" class="alert alert-danger mt-1">One or more search parameters are required.</div>
  </form>
  <hr />
  <div class="row" *ngIf="case">
    <span *ngIf="isValidCase">
      <div class="col-md-6">
        <table class="table table-striped table-sm">
          <tr>
            <td>Case #</td><td>{{case.CaseNo}}</td><td>Home</td><td>{{case.HomePhone}}</td>
          </tr>
          <tr>
            <td>SSN</td><td>{{case.SSN}}</td><td>Mobile</td><td>{{case.MobilePhone}}</td>
          </tr>
          <tr>
            <td>DOB</td><td>{{case.DOB}}</td><td>Text</td><td>{{case.TextPhone}}</td>
          </tr>
          <tr>
            <td>Case Name</td><td>{{case.CaseFirst}} {{case.CaseLast}}</td><td>Email</td><td>{{case.Email}}</td>
          </tr>
          <tr>
            <td>Address</td><td>{{case.Street}}</td><td>Text</td><td>{{case.BCW}}</td>
          </tr>
          <tr>
            <td></td><td>{{case.City}} {{case.State}} {{case.Zip}}</td><td>AR</td><td>{{case.ARLast}}, {{case.ARFirst}}</td>
          </tr>
        </table>
        <div>
          <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card mb-0">
              <div class="card-header primary-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a class="text-white" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ACTIVE INDIVIDUALS ON CASE <i class="fa fa-users pull-right" aria-hidden="true"></i>
                  </a>
                </h5>
              </div>
              <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
                <case-indv-selector [individualData]='case.CaseIndividuals' (individualID)="individualID($event)"></case-indv-selector>
              </div>
            </div>
            <div class="card mb-0 mt-1">
              <div class="card-header primary-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <a class="collapsed text-white" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    INDIVIDUAL DETAILS <i class="fa fa-user pull-right" aria-hidden="true"></i>
                  </a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <indv-details-selector [individualDetails] = 'case.IndivDetails' [individualID] = "selectedIndividualID"></indv-details-selector>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-4">
          <popover-content #indicatorPopover title="Case Indicators">
            <p>Here is some popover content</p>
          </popover-content>
          <b>Case Indicators</b> <i class="fa fa-info-circle text-info" aria-hidden="true" [popover]="indicatorPopover" [popoverOnHover]="true" popoverPlacement="top"></i>
          <table class="table table-striped table-sm">
            <tr *ngFor="let indicator of case.Indicators" [class.table-danger]="indicator.IsActive" [class.font-weight-bold]="indicator.IsActive"><td>{{indicator.Name}}</td></tr>
          </table>
        </div>
        <div class="col-md-4">
          <popover-content #statusPopover title="Case Status">
            <p>Here is some popover content</p>
          </popover-content>
          <b>Case Status</b> <i class="fa fa-info-circle text-info" aria-hidden="true" [popover]="statusPopover" [popoverOnHover]="true" popoverPlacement="top"></i>
          <table class="table table-striped table-sm">
            <tr><td>EBT</td><td>{{case.CaseStatus.EBT}}</td></tr>
            <tr><td>Homeless</td><td>{{case.CaseStatus.Homeless}}</td></tr>
            <tr><td>ABC</td><td>{{case.CaseStatus.ABC}}</td></tr>
            <tr><td>XYZ</td><td>{{case.CaseStatus.XYZ}}</td></tr>
          </table>
        </div>
        <div class="col-md-4">
          <popover-content #toDoPopover title="To Do List">
            <p>Here is some popover content</p>
          </popover-content>
          <b>To Do List</b> <i class="fa fa-info-circle text-info" aria-hidden="true" [popover]="toDoPopover" [popoverOnHover]="true" popoverPlacement="top"></i>
          <table class="table table-striped table-sm">
            <tr *ngFor="let toDo of case.ToDoList"><td>{{toDo.ActionDescription}}</td></tr>
          </table>
        </div>
        <div class="clearfix"></div>
        <div>
          <div id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="card mb-0">
              <div class="card-header primary-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                  <a class="text-white" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    RECENT CASE ACTIVITY (90 Days) <i class="fa fa-tags pull-right" aria-hidden="true"></i>
                  </a>
                </h5>
              </div>
              <div id="collapseThree" class="collapse in" role="tabpanel" aria-labelledby="headingThree">
                <case-activity-selector [caseActivity] = "case.CaseActivity" (activityID)="activityID($event)"></case-activity-selector>
              </div>
            </div>
            <div class="card mb-0 mt-1">
              <div class="card-header primary-header" role="tab" id="headingFour">
                <h5 class="mb-0">
                  <a class="text-white" data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    ACTIVITY DETAILS <i class="fa fa-tag pull-right" aria-hidden="true"></i>
                  </a>
                </h5>
              </div>
              <div id="collapseFour" class="collapse in" role="tabpanel" aria-labelledby="headingFour">
                <activity-details-selector [activityDetails] = "case.CaseActivityDetails" [activityID] = "selectedActivityID"></activity-details-selector>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-1 mb-1">
        <div class="card mb-0">
          <div class="card-header primary-header" role="tab" id="headingFive">
            <h5 class="mb-0">
              <a class="text-white" data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                CASE COMMENTS <i class="fa fa-comment pull-right" aria-hidden="true"></i>
              </a>
            </h5>
          </div>
          <div id="collapseFive" class="collapse in" role="tabpanel" aria-labelledby="headingFive">
            <case-comments-selector [commentsData]="case.CaseComments"></case-comments-selector>
          </div>
          </div>
        </div>
    </span>
    <span *ngIf="!isValidCase">
      <div class="col-md-12">
        <div class="card mb-1 p-0 mt-1 offset-md-4 col-md-4">
          <div class="card-header primary-header" role="tab" id="headingTwo">
            <h5 class="mb-0 text-white">
              No Records Found
            </h5>
          </div>
          <div class="card-body">
            <p>The following search returned no results:</p>
            <table class="table table-striped table-bordered table-sm mt-1">
              <thead>
                <tr class="bg-info text-white"><th>Parameter</th><th>Entered Value</th></tr>
              </thead>
              <tbody>
                <tr><td>Case #</td><td>{{params.CaseNo}}</td></tr>
                <tr><td>SSN</td><td>{{params.SSN}}</td></tr>
                <tr><td>Phone #</td><td>{{params.PhoneNo}}</td></tr>
                <tr><td>First Name</td><td>{{params.FirstName}}</td></tr>
                <tr><td>Last Name</td><td>{{params.LastName}}</td></tr>
              </tbody>
            </table>     
          </div>
        </div>
      </div>
    </span>
  </div>
  <!--<div *ngIf="case"><pre>{{ case | json}}</pre></div>-->
</div>